body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background-color: #c3cde6;
    /* Periwinkle color */
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 18px;
    text-align: right;
}

input[type="file"] {
    margin: 10px 0;
    font-size: 14px;
}

button {
    background-color: #d3d3d3;
    /* Light gray color */
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #b0b0b0;
}